//slidr-core.scss
// bootstrap fixes
.checkbox { padding-left: 85px; line-height: 35px; min-height: 35px; }
.checkbox input[type="checkbox"] { margin-left: -85px; }

.slidr {
  position: relative;
  display: inline-block;
  height: 30px !important;
  width: 75px !important;
  
  &::after {
    content: attr(data-off);
    width: 44px;
    height: 16px;
    display: inline-block;
    @include gradient-vertical($slidrBackgroundHighlight, $slidrBackground);
    border: 1px solid $slidrBorder;
    @include border-radius(13px);
    padding: 5px 5px 5px 26px;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
  }
  
  &::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 3;
    top: 1px;
    left: 1px;
    @include gradient-vertical($slidrBackground, $slidrBackgroundHighlight);
    border: 1px solid $slidrBorderThumb;
    @include border-radius(13px);
  }
  
  &:checked {
    &::after {
      content: attr(data-on);
      color: $slidrBackground;
      padding: 5px 26px 5px 5px;
      @include gradient-vertical($slidrActive, $slidrActiveHighlight);
    }
  
    &::before {
      left: 50px;
    }
  }
  
  &.slidr-info:checked::after { @include gradient-vertical($slidrActiveInfo, $slidrActiveInfoHighlight); }
  &.slidr-success:checked::after { @include gradient-vertical($slidrActiveSuccess, $slidrActiveSuccessHighlight); }
  &.slidr-warning:checked::after { @include gradient-vertical($slidrActiveWarning, $slidrActiveWarningHighlight); }
  &.slidr-danger:checked::after { @include gradient-vertical($slidrActiveDanger, $slidrActiveDangerHighlight); }
  &.slidr-inverse:checked::after { @include gradient-vertical($slidrActiveInverse, $slidrActiveInverseHighlight); }
}