//slidr-variables.scss
$slidrBackground:                 #ffffff !default;
$slidrBackgroundHighlight:        #e6e6e6 !default;
$slidrBorder:                     #cccccc !default;
$slidrBorderThumb:                #999999 !default;

$slidrActive:                     #dddddd !default;
$slidrActiveHighlight:            #bbbbbb !default;
$slidrActiveInfo:                 #5bc0de !default;
$slidrActiveInfoHighlight:        #2f96b4 !default;
$slidrActiveSuccess:              #62c462 !default;
$slidrActiveSuccessHighlight:     #51a351 !default;
$slidrActiveWarning:              #fbb858 !default;
$slidrActiveWarningHighlight:     #f89406 !default;
$slidrActiveDanger:               #ee5f5b !default;
$slidrActiveDangerHighlight:      #bd362f !default;
$slidrActiveInverse:              #444444 !default;
$slidrActiveInverseHighlight:     #222222 !default;