//slidr-core.scss
input[type="checkbox"] ~ span.slidr {
  position: relative;
  display: inline-block;
  height: 26px;
  width: 75px;
  top: 5px;
  line-height: 26px;
  @include user-select(none);
  cursor: pointer;
  
  &::before {
    content: attr(data-off);
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    @include double-gradient-vertical($slidrActive, $slidrActiveHighlight, $slidrBackgroundHighlight, $slidrBackground);
    background-size: 75px 26px, 75px 26px;
    background-position: -75px 0, 0 0;
    border: 1px solid $slidrBorder;
    @include border-radius(13px);
    @include transition(background-position 0.1s ease-in-out);
    padding: 0 5px 0 26px;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
  }

  &.slidr-info::before { @include double-gradient-vertical($slidrActiveInfo, $slidrActiveInfoHighlight, $slidrBackgroundHighlight, $slidrBackground); }
  &.slidr-success::before { @include double-gradient-vertical($slidrActiveSuccess, $slidrActiveSuccessHighlight, $slidrBackgroundHighlight, $slidrBackground); }
  &.slidr-warning::before { @include double-gradient-vertical($slidrActiveWarning, $slidrActiveWarningHighlight, $slidrBackgroundHighlight, $slidrBackground); }
  &.slidr-danger::before { @include double-gradient-vertical($slidrActiveDanger, $slidrActiveDangerHighlight, $slidrBackgroundHighlight, $slidrBackground); }
  &.slidr-inverse::before { @include double-gradient-vertical($slidrActiveInverse, $slidrActiveInverseHighlight, $slidrBackgroundHighlight, $slidrBackground); }
  
  &::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    @include transition(left 0.1s ease-in-out);
    @include gradient-vertical($slidrBackground, $slidrBackgroundHighlight);
    border: 1px solid $slidrBorderThumb;
    @include border-radius(13px);
  }
}

input[type="checkbox"]:checked ~ span.slidr {
  &::before {
    content: attr(data-on);
    color: $slidrBackground;
    padding: 0 26px 0 5px;
    background-position: 0 0, 75px 0;
  }

  &::after {
    left: 50px;
  }
}